body {
    font-family: Arial, sans-serif;
    background: #1212de;
    color: #0d0d0d;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
  }
  
  .container {
    text-align: center;
    background: #5a99cd;
    padding: 20px 40px;
    border-radius: 100px;
    box-shadow: 0 4px 8px rgba(218, 3, 157, 0.1);
  }
  
  h1 {
    margin-bottom: 20px;
    color: #080808;
  }
  
  .quote-box {
    margin: 20px ;
    padding: 20px;
    font-style: italic;
    background: #f7f7f7;
    border-radius: 100px;
  }
  

  
